body {
    background: #595959;
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 40%;
    font-size: 12px;
    padding: 5px;
}

ul li {
    list-style-type: none;
    display: inline;
}
/*
side div??
*/

h2 {
    color: #f2a918;
    text-shadow: 1px 1px #b3b3b3;
}

h3 {
    color: #5f412d;
    max-height: 3px;
    margin: none;
    padding: none;
}

h5 {
    max-height: 3px;
}

.main-container {
    width: 70%;
    margin: 0 15% 0 15%;
    float: center;
    background-color: #76c1a8;
    padding: 2% 2% 2% 2%;
}

/*
Put a border around each post div
question in bold
answer div in a lighter shade of gray than the question
user div in a different color text, align right

all other fonts #4d4d4d
*/

.results {
    color: #4d4d4d;

}

.posts-all {
    text-align: left;
}

.post {
    border-top-style: solid;
    border-color: #f2a918;
    margin-bottom: 20px;

}

.question {

}

.ques {
    color: #5f412d;
    font-size: 1.5em;
}

.answer {
    /*background-color: #fdecb3;*/
    background-color:   #b9dfd2;
    padding: 13px 3px 3px 13px;
    margin-top: 5px;
    margin-bottom: 10px;

    font-size: 1.2em;
}

.user {
    text-align: right;

}



button {
    background-color: #1a1a1a; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    margin: 10px auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}