<div class='container'>

  <h1> Ask me something! </h1>
  <div class='search-bar'>
    <form class="search-form">
      <input type='text' placeholder='' ng-model='userInput.searchTags'>
      <button type='submit' ng-click='searchNow()'> Find topics </button>
      <span ng-show='userInputError' class='error'> Provide atleast one word!</span>
    </form>

  </div>

 <div class = 'results'>
  <h3> Topics found! </h3>
  <div class='posts-all' ng-model='posts'>
    <div class='post' ng-repeat='item in posts.items'>
        <div class='question'>
        <h2> Question: </h2>
          <span class= "ques"> {{ item.question }} </span>
          <div class='user'>
            <h5> question asked by: </h5>
            <h3> {{ item.user }} </h3>
            <h5> likes: {{ posts.users[ item.user ] }}</h5>
            <span> <img ng-src= "{{ posts.images[ item.user] }}" height="50" width="70"> </span>
          </div>
        </div>
        <!-- add answers in ngloop as well -->
        <div class='answer' ng-repeat="subitem in item.answers">
          {{ subitem.text }}
          <div class='user'>
            <h5> answered by: </h5>
            <h3> {{ subitem.user }} </h3>
            <h5> likes: {{ posts.users[ subitem.user ] }}</h5>
            <span> <img ng-src= "{{ posts.images[ subitem.user] }}" height="50" width="70"> </span>
            <span></span>
          </div>
        </div>



        <br/>
      </div>

    </div>
  </div>

</div>
