<div class='container'>

  <h1> Ask me something! </h1>
  <div class='search-bar'>
    <form class="search-form">
      <input type='text' placeholder='' ng-model='userInput.searchTags'>
      <button type='submit' ng-click='searchNow()'> Find topics </button>
      <span ng-show='userInputError' class='error'> Provide atleast one word!</span>
    </form>

  </div>

 <div class = 'results'>
  <h3> Topics found! </h3>
  <div class='posts-all' ng-model='items'>
    <div class='post' ng-repeat='item in items'>
        <div class='question'>
        <h2> Question: </h2>
          {{ item.question }}
          <div class='user'>
            <h5> question asked by: </h5>
            <h3> {{ item.user }} </h3>
            <!-- <span> {{ item.userExerpt }}</span> -->
          </div>
        </div>
        <!-- add answers in ngloop as well -->
        <div class='answer'>
          {{ item.answers[0].text }}
          <div class='user'>
            <h5> answered by: </h5>
            <h3> {{ item.answers[0].user }} </h3>
          </div>
        </div>

        <div class='answer'>
          {{ item.answers[1].text }}
          <div class='user'>
            <h5> answered by: </h5>
            <h3> {{ item.answers[1].user }} </h3>
          </div>
        </div>

        <br/>
      </div>

    </div>
  </div>

</div>
